.table-view {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: rgb(13,130,0);
    -fx-border-radius: 10
}

.table-view .column-header-background {
    -fx-background-color: rgba(13,130,0,0.5);
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 25;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: rgb(13,130,0);
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:even {
    -fx-background-color: rgba(35, 221, 29, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even:selected {
    -fx-background-color: rgb(13,130,0);
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: rgba(161, 249, 147, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd:selected {
    -fx-background-color: rgb(13,130,0);
    -fx-background-radius: 10px;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  rgba(13,130,0,0.5);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  rgba(13,130,0,0.5);
}